body {
    background-color: bisque;
}

h1 {
    color: brown;
    font-style: italic;
}
#aciklama {
    font-style: italic;
    font-weight: bold;
}
#Tarif {
    margin: 3rem auto;
    width: 60%;
}
#giris {
    margin-left: 3rem;
}
.malzeme {
    color: white;
    background-color: brown;
    font-weight: bold;
    border-radius: 1rem;
}
.Afiyet {
    font-size: 1.5rem;
    float: right;
    margin-right: 15rem;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}