.bg-orange{
    background-color: orange;
}
.b-radius{
    border-radius: 20px;
}
.ntr{
    font-family: 'Times New Roman', Times, serif;
}
.b{
    font-size: 85px;
}
.bw{
    font-weight: 400;
}
.ed{
    width: 213px;
}
.ec{
    padding: 7px 20px 9px;
}